{{#partial "content"}}

    <h1>Success!</h1>
    {{#if team}}
        Your team has been saved.
        <a href="/teams/{{team.id}}">Return to team detail</a>
    {{else}}
        Your team has been created.
        <a href="/teams">Go to team list</a>
    {{/if}}

{{/partial}}

{{> layout.hbs}}