{{#partial "content"}}
    <h2>Teams</h2>
    {{#if teams}}
        <ul>
            {{#each teams}}
                <p><strong>{{ name }}</strong>  <a href="/teams/{{id}}">Details</a>   <a href="/teams/{{id}}/delete">Delete</a></p>
            {{/each}}
        </ul>

    {{else}}
        <h3>Sorry, there are no teams to display</h3>
    {{/if}}
    <a href="/teams/add">Add Team</a>

{{/partial}}

{{> layout.hbs}}