{{#partial "content"}}
    {{#if teams}}
        {{#each teams}}
            <p>{{ name }} <a href="/teams/{{id}}">See details</a></p>
        {{/each}}

    {{else}}
        <h3>Sorry, there are no teams to display</h3>
    {{/if}}
    <a href="/teams/add">Add Team</a>

{{/partial}}

{{> layout.hbs}}